doctype html
div(ng-class="{'show-bar': selected}").sidebar-content
	div.title-div
		h3.label-title
			span.label.label-default
				| {{ title }}

		button.closebtn.btn.btn-primary.pull-right &times;
	div(ng-transclude)