<!DOCTYPE html>
<html ng-app="lifeApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Life</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/lifetable.js"></script>
    <script src="js/brushes.js"></script>
    <script src="js/app.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-controller="lifeController" ng-keypress="handleKeyPress($event)">
<div id="forms" class="row">
    <div class="col-sm-5 panel panel-info">
        <form name="dataForm" novalidate>
            <div class="form-group">
                <label>
                    Rows:
                    <input type="number" ng-model="r" min="1" class="form-control">
                </label>
                <label>
                    Cols:
                    <input type="number" ng-model="c" min="1" class="form-control">
                </label>
                <label>
                    Toroidal:
                    <input type="checkbox" ng-model="toroidal" ng-disabled="isRunning">
                </label>

                <div class="btn-group">
                    <button ng-click="generate()" class="btn btn-primary">{{ !!table ? "Reset" : "Generate" }}</button>
                    <button ng-click="generate_random()" class="btn btn-warning">Random</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-sm-5 panel panel-info">
        <form name="startForm">
            <div class="form-group">
                <label>
                    Delay:
                    <input type="number" ng-model="delay" min="0" step="10" class="form-control">
                </label>

                <div class="btn-group">
                    <button ng-click="start()" ng-disabled="isRunning" class="btn btn-success">Start</button>
                    <button ng-click="stop()" ng-disabled="!isRunning" class="btn btn-danger">Stop</button>
                    <button ng-click="step()" class="btn btn-warning">Step</button>
                </div>

                <h3 class="no-block"><span class="label label-info">Generation: {{ generation }}</span></h3>
            </div>
        </form>
    </div>

    <div class="col-sm-2 panel panel-info">
        <form name="extraForm">
            <div class="form-group">
                <label>
                    fg color
                    <input type="color" ng-model="fgcolor" class="form-control">
                </label>
                <label>
                    bg color
                    <input type="color" ng-model="bgcolor" class="form-control">
                </label>
            </div>
        </form>
    </div>
</div>
<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <table>
                <tr ng-repeat="i in range(table.getRows())">
                    <td ng-repeat="j in range(table.getCols())"
                        clickable-cell data-on-click="applyBrush(i, j)" data-on-move="applyBrush(i, j)"
                        adjust-width invert-border>
                    </td>
                </tr>
            </table>
        </div>

        <div id="bar" class="col-sm-2">
            <button ng-repeat="brush in brushes"
                    ng-click="select(brush)" class="btn btn-primary btn-block"
                    ng-class="{'btn-danger': brush.brush === current_brush}">
                {{ brush.name }}
            </button>
        </div>
    </div>
</div>
</body>
</html>