<!DOCTYPE html>
<html lang="en" ng-app="lifeApp">
  <head lang="en">
    <meta charset="UTF-8">
    <title>Life</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/lifetable.js"></script>
    <script src="js/brushes.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="LifeController" ng-keypress="handleKeyPress($event)">
    <sidebars>
      <sidebar title="Grid generation" width="25">
        <form name="dataForm" novalidate class="form-horizontal">
          <label for="r">Rows:</label>
          <input id="r" type="number" ng-model="table_dimensions.r" min="1" class="form-control margin-bottom">
          <label for="c">Cols:</label>
          <input id="c" type="number" ng-model="table_dimensions.c" min="1" class="form-control margin-bottom">
          <div>
            <button ng-disabled="isRunning" ng-class="{active: toroidal}" ng-click="toggleToroidal()" class="btn btn-primary">Toroidal</button>
            <div class="btn-group">
              <button ng-click="generate()" class="btn btn-primary">Create Empty</button>
              <button ng-click="generate_random()" class="btn btn-warning">
                Create Random
                
              </button>
            </div>
          </div>
        </form>
      </sidebar>
      <sidebar title="Simulation controls" width="25">
        <div class="title-div">
          <h3 class="label-title"><span class="label label-info">Generation: {{ generation }}</span></h3>
        </div>
        <form name="startForm" class="form-inline">
          <label>Delay:
            <input type="number" ng-model="delay.delay" min="0" step="10" class="form-control">
          </label><br><b>Controls:</b>
          <div role="group" class="btn-group">
            <button ng-click="start()" ng-disabled="isRunning" class="btn btn-success"><i class="glyphicon glyphicon-play"></i></button>
            <button ng-click="stop()" ng-disabled="!isRunning" class="btn btn-danger"><i class="glyphicon glyphicon-stop"></i></button>
            <button ng-click="step()" class="btn btn-warning"><i class="glyphicon glyphicon-step-forward"></i></button>
          </div>
        </form>
        <form name="extraForm" class="form-inline">
          <div>
            <label for="fgcolor">Foreground color</label>
            <input id="fgcolor" type="color" ng-model="colors.fgcolor" class="form-control color-form-control">
          </div>
          <div>
            <label for="bgcolor">Background color</label>
            <input id="bgcolor" type="color" ng-model="colors.bgcolor" class="form-control color-form-control">
          </div>
          <div>
            <label class="my-checkbox-label">B:</label>
            <mycheckbox ng-repeat="i in range(0, 9)" data-model="b[i]" data-content="i"></mycheckbox>
          </div>
          <div>
            <label class="my-checkbox-label">S:</label>
            <mycheckbox ng-repeat="i in range(0, 9)" data-model="s[i]" data-content="i"></mycheckbox>
          </div>
          <div>
            <button ng-click="setLife()" class="btn btn-default">Life</button>
            <button ng-click="setHighLife()" class="btn btn-default">Highlife</button>
          </div>
        </form>
      </sidebar>
      <sidebar id="btn-bar" title="Brushes" width="25">
        <brush-button ng-repeat="brush in brushes" data-brush="brush" data-outer-current-brush="current_brush" data-onclick="select(brush)"></brush-button>
      </sidebar>
    </sidebars>
    <div id="content">
      <table id="main-table">
        <tr ng-repeat="i in range(0, table.getRows())">
          <td ng-repeat="j in range(0, table.getCols())" clickable-cell adjust-width hover-brush onselectstart="return false" ondragstart="return false"></td>
        </tr>
      </table>
    </div>
  </body>
</html>