doctype html
html(lang="en", ng-app="lifeApp")
	head(lang="en")
		meta(charset="UTF-8")
		title Life
		link(href="bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		script(src="bower_components/underscore/underscore.js")
		script(src="bower_components/jquery/dist/jquery.js")
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-animate/angular-animate.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.js")
		script(src="js/lifetable.js")
		script(src="js/brushes.js")
		script(src="js/app.js")

	body(ng-controller="LifeController" ng-keypress="handleKeyPress($event)")

		sidebars
			sidebar(title="Grid generation", width='25')
				form.form-horizontal(name="dataForm", novalidate)
					label(for="r") Rows:
					input#r.form-control.margin-bottom(type="number", ng-model="table_dimensions.r", min="1")

					label(for="c") Cols:
					input#c.form-control.margin-bottom(type="number", ng-model="table_dimensions.c", min="1")

					div
						button.btn.btn-primary(ng-disabled="isRunning", ng-class="{active: toroidal}", ng-click="toggleToroidal()") Toroidal

						.btn-group
							button.btn.btn-primary(ng-click="generate()").
								Create Empty
							button.btn.btn-warning(ng-click="generate_random()").
								Create Random

			sidebar(title="Simulation controls", width='25')
				div.title-div
					h3.label-title
						span.label.label-info
							| Generation: {{ generation }}

				form.form-inline(name="startForm")
					label Delay:
						input.form-control(type="number", ng-model="delay.delay", min="0", step="10")
					br

					b Controls:
					.btn-group(role="group")
						button.btn.btn-success(ng-click="start()", ng-disabled!="isRunning")
							i.glyphicon.glyphicon-play
						button.btn.btn-danger(ng-click="stop()", ng-disabled!="!isRunning")
							i.glyphicon.glyphicon-stop
						button.btn.btn-warning(ng-click="step()")
							i.glyphicon.glyphicon-step-forward


				form.form-inline(name="extraForm")
					div
						label(for="fgcolor") Foreground color
						input#fgcolor.form-control.color-form-control(type="color", ng-model="colors.fgcolor")

					div
						label(for="bgcolor") Background color
						input#bgcolor.form-control.color-form-control(type="color", ng-model="colors.bgcolor")

					div
						label.my-checkbox-label B:
						mycheckbox(ng-repeat="i in range(0, 9)", data-model="b[i]", data-content="i")

					div
						label.my-checkbox-label S:
						mycheckbox(ng-repeat="i in range(0, 9)", data-model="s[i]", data-content="i")

					div
						button.btn.btn-default(ng-click="setLife()") Life
						button.btn.btn-default(ng-click="setHighLife()") Highlife


			sidebar#btn-bar(title="Brushes", width='25')
				brush-button(ng-repeat="brush in brushes",
				data-brush="brush",
				data-outer-current-brush="current_brush"
				data-onclick="select(brush)")

		#content
			table#main-table
				tr(ng-repeat!="i in range(0, table.getRows())")
					td(ng-repeat!="j in range(0, table.getCols())",
					clickable-cell, adjust-width, hover-brush
					onselectstart="return false", ondragstart="return false")
